*{
    margin: 0;
    padding: 0;
}

/* This is for body part animations */
body {
	background-color: #012030;
}

@keyframes gradient {
	0% {
		background-position: 0% ;
	}
	50% {
		background-position: 100% ;
	}
	100% {
		background-position: 0% 50%;
	}
}



/* header for the App */
#Task{
    font-size: 40px;
    position: relative;
    left: 110px;
    top: 20px;
    font-weight: bolder;
    color: #45C4B0;
}
#Task + p{
    font-size: 24px;
    color: #45C4B0;
    position: relative;
    right: 120px;
    top: 35px;
} 
#Task + p:hover{
    cursor: pointer;
}
.fa-solid{
    color: white;
}
#header{
    display: flex; 
    justify-content: space-between;
}
h6{
    font-size: xx-large;
    text-align: center;
    position: relative;
    top: 250px;
    color: #DAFDBA;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
}
section{
    display: flex;
    justify-content: center;
}